@font-face {
  font-family: "seocify-icons";
  src: url("../fonts/seocify-icons.eot?bksaca");
  src: url("../fonts/seocify-icons.eot?bksaca#iefix")
      format("embedded-opentype"),
    url("../fonts/seocify-icons.ttf?bksaca") format("truetype"),
    url("../fonts/seocify-icons.woff?bksaca") format("woff"),
    url("../fonts/seocify-icons.svg?bksaca#seocify-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.xsicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "seocify-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xsicon-align-justify:before {
  content: "\e900";
}
.xsicon-arrow-down:before {
  content: "\e901";
}
.xsicon-arrow-left:before {
  content: "\e902";
}
.xsicon-arrow-right:before {
  content: "\e903";
}
.xsicon-arrow-up:before {
  content: "\e904";
}
.xsicon-bars:before {
  content: "\e905";
}
.xsicon-briefcase:before {
  content: "\e906";
}
.xsicon-bullhorn:before {
  content: "\e907";
}
.xsicon-calendar-alt:before {
  content: "\e908";
}
.xsicon-chart-line:before {
  content: "\e909";
}
.xsicon-check:before {
  content: "\e90a";
}
.xsicon-check-square:before {
  content: "\e90b";
}
.xsicon-chevron-down:before {
  content: "\e90c";
}
.xsicon-chevron-left:before {
  content: "\e90d";
}
.xsicon-chevron-right:before {
  content: "\e90e";
}
.xsicon-chevron-up:before {
  content: "\e90f";
}
.xsicon-clipboard:before {
  content: "\e910";
}
.xsicon-comment-alt:before {
  content: "\e911";
}
.xsicon-dollar-sign:before {
  content: "\e913";
}
.xsicon-dribble:before {
  content: "\e914";
}
.xsicon-envelope-open:before {
  content: "\e915";
}
.xsicon-envelope-regular:before {
  content: "\e916";
}
.xsicon-facebook-f:before {
  content: "\e917";
}
.xsicon-file-alt:before {
  content: "\e918";
}
.xsicon-file:before {
  content: "\e919";
}
.xsicon-folder-open:before {
  content: "\e91a";
}
.xsicon-folder-open-solid:before {
  content: "\e91b";
}
.xsicon-google-plus-g:before {
  content: "\e91c";
}
.xsicon-heart:before {
  content: "\e91d";
}
.xsicon-instagram:before {
  content: "\e91e";
}
.xsicon-linkedin-in:before {
  content: "\e91f";
}
.xsicon-long-arrow-alt-down:before {
  content: "\e920";
}
.xsicon-long-arrow-alt-left:before {
  content: "\e921";
}
.xsicon-long-arrow-alt-right:before {
  content: "\e922";
}
.xsicon-long-arrow-alt-up:before {
  content: "\e923";
}
.xsicon-map-marked-alt:before {
  content: "\e924";
}
.xsicon-minus:before {
  content: "\e925";
}
.xsicon-pencil-alt:before {
  content: "\e926";
}
.xsicon-phone-alt:before {
  content: "\e927";
}
.xsicon-phone-volume:before {
  content: "\e928";
}
.xsicon-erespintt-p:before {
  content: "\e929";
}
.xsicon-play:before {
  content: "\e92a";
}
.xsicon-question-circle:before {
  content: "\e92b";
}
.xsicon-quote-right:before {
  content: "\e92c";
}
.xsicon-reddit-alien:before {
  content: "\e92d";
}
.xsicon-search:before {
  content: "\e92e";
}
.xsicon-signal:before {
  content: "\e92f";
}
.xsicon-sistrix:before {
  content: "\e930";
}
.xsicon-star:before {
  content: "\e931";
}
.xsicon-star-solid:before {
  content: "\e932";
}
.xsicon-tags:before {
  content: "\e933";
}
.xsicon-tenge:before {
  content: "\e934";
}
.xsicon-times:before {
  content: "\e935";
}
.xsicon-twitter:before {
  content: "\e936";
}
.xsicon-unlock-alt:before {
  content: "\e937";
}
.xsicon-user-friends:before {
  content: "\e938";
}
.xsicon-user:before {
  content: "\e939";
}
.xsicon-yoast:before {
  content: "\e93a";
}
.xsicon-circle:before {
  content: "\e912";
}
.xsicon-clock:before {
  content: "\e93b";
}
.xsicon-ellipsis:before {
  content: "\e93c";
}
.xsicon-plus:before {
  content: "\e93d";
}
.xsicon-shopping-bag:before {
  content: "\e93e";
}
.xsicon-thumbtack:before {
  content: "\e93f";
}
